.wrap{


    background-color: rgb(250, 185, 199);
    height: 2vw;
    
  
      
      
}
  
.descuento{
    background-color: rgb(250, 185, 199);
    height: 100%;
    text-align: center;
    margin: 0 auto;
    width: 40vw;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: bolder;
    
}
  
  
  
.cabecera{
      
  margin-top: auto;
  background-color: whitesmoke;
  height: 20vw;
  
  
}
  
  
  
.caja-logo{
    
    background-color: whitesmoke;
    height: 20vw;

    margin-top: 1vw;
  
      
      

}

.logo{
    text-align: center;
    width: 6vw;
    margin: 0 auto;
    height: 100%;
    background-color: whitesmoke;
  
  
  
 }


