.Contenedor{
    justify-items: center;
    justify-content: center;

    

    

    
}


@media(min-width: 500px) and (max-width: 900px){

    .formio-component{
        margin-left: 0px;
        margin-right: 0px;
    }



}

@media(min-width: 1000px) {

    .formio-component{
        margin-left: 300px;
        margin-right: 300px;
    }



}

.formio-component-button{

 
  display: flex;
  
 

}
.Contenedor1{


    h1{
    
        padding: 2rem;
        font-size: 36px;
        font-weight: bold;
        color: rgb(161, 103, 236);
        font-size: xxx-large;
        text-align: center;
    }
}

.btn.btn-primary{
    background-color: rgb(140, 0, 255)!important;
    display: flex;
    justify-items: center;
    justify-content: center;

}

.formio-component{
    justify-items: center;
    justify-content: center;



}

