.Contenedor{
    justify-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    

    

    
}

.Contenedor1{


    h1{
    
        padding: 2rem;
        font-size: 36px;
        font-weight: bold;
        color: rgb(143, 27, 158);
        font-size: xxx-large;
        text-align: center;
    }
}

.btn.btn-primary{
    background-color: rgb(140, 0, 255)!important;
    display: flex;
    justify-items: center;
    justify-content: center;

}

.formio-component{
    justify-items: center;
    justify-content: center;



}

