
.navbar{
    background-color: whitesmoke;
    
    
    
    
}

.navbar .nav-item a{
    color: rgb(255, 82, 232) !important;
    
    
    

}




.navbar-nav{
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-left: 15vw;
    

}









.App{
    background-color: rgb(252, 212, 225);
    

    font-family: Lora;
    


    
}



.fw-normal{
    color: rgb(143, 27, 158);
    font-size: xxx-large;
}

.btn-secondary{
    background-color:rgb(143, 27, 158)!important;


    
}

.carousel-image{

    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}


.texto{
    color: black!important;
    margin-left: 500px;
    margin-top: 100px!important;
    font-family: Lora;
    font-weight: bold;

}