.navbar{

    background-color: whitesmoke;
}

.inicio{
    position: relative;
}



.navbar .nav-item a{
    color: rgb(255, 82, 232) !important;

}


.carousel-item {
    height: 65vh;
    min-height: 500px;

}
  
.carousel-caption {
    font-weight: bolder;
    font-size:2em;
    left:120vh !important;
    
}


.navbar-nav{
    padding-left:81vh!important;


}

.catalogo {
    position: absolute;
}

.App{
    background-color: rgb(246, 234, 247);

    font-family: Lora;

    
}

  /* Agrandamos*/

