
.navbar{
    background-color: whitesmoke;
    
    
}

.navbar .nav-item a{
    color: rgb(255, 82, 232) !important;
    

}



.App{
    background-color: rgb(252, 212, 225);

    font-family: Lora;
    


    
}



.fw-normal{
    color: rgb(143, 27, 158);
    font-size: xxx-large;
}

.btn-secondary{
    background-color:rgb(143, 27, 158)!important;


    
}